<!DOCTYPE html>
<html lang="sv">
	<head>
		<meta charset="utf-8">
		<title><%= @title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div class="container">
			
			<header>
				<hgroup>
					<h1><a href="/">A Guestbook</a></h1>
				</hgroup>
			</header>

			<div id="main">
				<%= yield %>
			</div>

		</div>

	</body>
</html>